.heroBanner {
  padding: 4rem 0;
  text-align: center;
  flex: 1;  
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.logo {
  width: 260px;
  border-radius: 50%;
}



.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
